@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap");
:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 3;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway";
  background:#454545;
}
.App {
  display: flex;
  flex-direction:row;
  flex-flow:row wrap;
  width: 90vw;
  min-height: 90vh;
  
} /* .condiv class is for the right side content container*/
.articles{
  flex-direction: row;
  width:66%;
}
.condiv {
  flex: var(--condiv-flex);
  padding: 20px 100px;
  background-color: white;
}

a{
  text-decoration: none;
  color: #F1FFFA
}

nav {
  background-color: #454545;
  width:25%;
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: #F1FFFA;
}
nav ul li {
  margin: 40px;
  color: #F1FFFA;
  text-decoration: none;
  cursor:pointer;
}
nav ul li:hover{
  color:#93B7BE;
}
.profile{
  display:flex;
  flex:2;
  flex-direction:row;
}
.profilebox{
  margin-top:100px;
  padding:50px;
  flex:4;
  text-align:left;
  justify-content:right;
}

.profilepic
{
  flex:1;
  width: 70%;
  margin: 5px;
}
.skillitem{
  padding:2px;
  transition: transform .2s;
}
.skillitem:hover{
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transform: scale(1.5);
  cursor:pointer;
}

.skills ul {
  display:flex;
  justify-content: left;
  list-style-type: none;
  text-decoration: none;
}
.skills li {
  flex:5;
  margin:30px;
}
.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}
.social i {
  padding-right: 30px;
  font-size: 25px;
  color: #011d38;
}
.social i:hover {
  color: #ffffff;
}

.subtopic
{
margin:10px 10px 30px 10px !important;
}p
{
font-size: var(--fontsize-p);
}h1,h2,h3,h4,p
{

margin: 10px;
}
h1{
  color:#785964;
}

.widecard
{
border:0px solid #9a9b9c;
display: flex;
margin:30px 0px 30px 0px;
}.widecard:hover
{
color: #1b1d20;
background-color: #ffffff;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}